{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css/' %}">

    <title>home page</title>
</head>
<body>
    <nav>
        <!-- navigation bar -->
        <div class="logo">    <img src="{% static '/images/logo.png'%}" alt="" width="80" height="80"></div>
    
     
        <ul>
            <li><a href="{% url 'home' %}">HOME</a></li>
            <li><a href="{% url 'sign' %}">SIGN UP</a></li>
            <li><a href="{% url 'login' %}">LOGIN</a></li>
            <li><a href="{% url 'login' %}">LOGOUT</a></li>

        </ul>
    </nav>
    <!-- <div class="app">
        <p>
            <b>INSTRUCTIONS</b>
            <ul>
                <li>
                    Kindly provide your information in legible CAPITAL letters.
                </li>
                <li>
                    Submission of incomplete form may lead to disqualification.
                </li>
                <li>
                    All duly filled forms to be delivered to the NG-CDF Office at Wath Ong’er for processing.
                </li>
            </ul>
        </p> -->
        <div class="containers">
            <!-- <div class="title">Please fill this form </div>
            <h3>PART A :TO BE FILLED BY THE APPLICANT / PARENT / GUARDIAN</h3> -->
        
        <form action="#">
            <div class="user-details">
                <fieldset>
                    <legend> <b>FAMILY BACKGROUND ( Tick appropriately)</b> </legend>
<!-- 
                <label>
                     <span class="details">FULL NAMES(as it appear in the ID/official documents)</span>
                <input type="text"  placeholder="enter your full names"  required>

                </label> -->
               
               <p>
                Kindly indicate your family status
               </p>
               
               <input type="radio", name="status" value="dead" checked/>Both Parents Dead
               <input type="radio", name="status" value="one" checked/>One Parent Dead
               <input type="radio", name="status" value="both" checked/>Both Parents Alive
               <input type="radio", name="status" value="single" checked/>Single parent            

                <br>
               <span class="details">OTHERS(states)</span>
               <input type="text"  placeholder="others"  required>
               <br>
               <span class="details">Number of siblings ( alive)</span>
               <input type="text"  placeholder="siblings alive"  required>

               <br>
               <span class="details">Estimated Family income(annually Kshs.)</span>
               <input type="text"  placeholder="family income"  required>

               <br>
               <span class="details">Estimated Family expenses(annually Kshs.)</span>
               <input type="text"  placeholder="family expenses" required>
               <br>
               <p><b><strong>(Attach support documents eg- death certificate / a verification letter from area chief/sub chief)</strong></b></p>

                <p><b><strong>Father</strong></b></p>
               <span class="details">Full Name</span>
               <input type="text"  placeholder="full name" required>
               <span class="details">Address</span>
               <input type="text"  placeholder="address"  required>

               <br>
               <span class="details">Telephone Number</span>
               <input type="text"  placeholder="Telephone number" required>

               <p>
                Type of employment (Tick appropriately)
               </p>
               <input type="radio", name="study" value="Permanent" checked/>Permanent
               <input type="radio", name="study" value="Contractual" checked/>Contractual
               <input type="radio", name="study" value="Casual" checked/>Casual
               <input type="radio", name="study" value="Retired" checked/>Retired
               <input type="radio", name="study" value="Self employed" checked/>Self employed
               <input type="radio", name="study" value="None" checked/>None

               <br>
               <span class="details">MAIN SOURCE OF INCOME</span>
               <input type="text"  placeholder="income"  required>
              <br>

              <p><b><strong>Mother</strong></b></p>
              <span class="details">Full Name</span>
              <input type="text"  placeholder="full name" required>
              <span class="details">Address</span>
              <input type="text"  placeholder="address"  required>

              <br>
              <span class="details">Telephone Number</span>
              <input type="text"  placeholder="Telephone number" required>

              <p>
               Type of employment (Tick appropriately)
              </p>
              <input type="radio", name="study" value="Permanent" checked/>Permanent
              <input type="radio", name="study" value="Contractual" checked/>Contractual
              <input type="radio", name="study" value="Casual" checked/>Casual
              <input type="radio", name="study" value="Retired" checked/>Retired
              <input type="radio", name="study" value="Self employed" checked/>Self employed
              <input type="radio", name="study" value="None" checked/>None

              <br>
              <span class="details">MAIN SOURCE OF INCOME</span>
              <input type="text"  placeholder="income"  required>
             
              <p><b><strong>Guardian</strong></b></p>
              <span class="details">Full Name</span>
              <input type="text"  placeholder="full name" required>
              <span class="details">Address</span>
              <input type="text"  placeholder="address"  required>

              <br>
              <span class="details">Telephone Number</span>
              <input type="text"  placeholder="Telephone number" required>

              <p>
               Type of employment (Tick appropriately)
              </p>
              <input type="radio", name="study" value="Permanent" checked/>Permanent
              <input type="radio", name="study" value="Contractual" checked/>Contractual
              <input type="radio", name="study" value="Casual" checked/>Casual
              <input type="radio", name="study" value="Retired" checked/>Retired
              <input type="radio", name="study" value="Self employed" checked/>Self employed
              <input type="radio", name="study" value="None" checked/>None

              <br>
              <span class="details">MAIN SOURCE OF INCOME</span>
              <input type="text"  placeholder="income"  required>
             
                  

               <br>
               <button type="submit" value="Submit">SUBMIT</button>


            </fieldset>
        </form>
    </div>
</div>
</body>
</html>