<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/main.css">

    <title>home page</title>
</head>
<body>
    <nav>
        <!-- navigation bar -->
        <div class="logo">    <img src="images/logo.png" alt="" width="80" height="80"></div>
    
        <ul>
            <li><a href="home.html">HOME</a></li>
            <li><a href="sign.html">SIGN UP</a></li>
            <li><a href="login.html">LOGIN</a></li>
        </ul>
    </nav>
    <div class="app">
        <p>
            <b>INSTRUCTIONS</b>
            <ul>
                <li>
                    Kindly provide your information in legible CAPITAL letters.
                </li>
                <li>
                    Submission of incomplete form may lead to disqualification.
                </li>
                <li>
                    All duly filled forms to be delivered to the NG-CDF Office at Wath Ong’er for processing.
                </li>
            </ul>
        </p>
        <div class="containers">
            <div class="title">Please fill this form </div>
            <h3>PART A :TO BE FILLED BY THE APPLICANT / PARENT / GUARDIAN</h3>
        
        <form action="#">
            <div class="user-details">
                <fieldset>
                    <legend> <b>PERSONAL INFORMATION</b> </legend>

                <label>
                     <span class="details">FULL NAMES(as it appear in the ID/official documents)</span>
                <input type="text"  placeholder="enter your full names"  required>

                </label>
               
               <p>
                Gender
               </p>
               
               <input type="radio", name="gender" value="male" checked/>Male
               <input type="radio", name="gender" value="female" checked/>Female
               <input type="radio", name="gender" value="other" checked/>Other
                <br>
               <span class="details">DATE OF BIRTH(ddmmyy)</span>
               <input type="text"  placeholder="date of birth"  required>
               <br>
               <span class="details">ID.NO/passport</span>
               <input type="text"  placeholder="ID.NO/passport"  required>

               <br>
               <span class="details">SCHOOL/UNIVERSITY/COLLEGE</span>
               <input type="text"  placeholder="university/college/school"  required>

               <br>
               <span class="details">ADMISSION/REGISTER NUMBER</span>
               <input type="text"  placeholder="Adm/Reg No."  required>

               <br>
               <span class="details">CAMPUS/BRANCH(for tertiary institution only)</span>
               <input type="text"  placeholder="campus/branch"  required>

               <br>
               <span class="details">FACULTY/DEPARTMENT(for tertiary institution and University)</span>
               <input type="text"  placeholder="department"  required>

               <br>
               <span class="details">COURSE OF STUDY: (for tertiary institution and University)</span>
               <input type="text"  placeholder="course of study"  required>

               <p>
                MODE OF STUDY
               </p>
            
               <input type="radio", name="study" value="regular" checked/>Regular
               <input type="radio", name="study" value="parallel" checked/>Parallel
               <input type="radio", name="study" value="Boarding" checked/>Boarding
               <input type="radio", name="study" value="Day" checked/>Day

               <br>
               <span class="details">CLASS / GRADE/ YEAR OF STUDY</span>
               <input type="text"  placeholder="CLASS/GRADE/YEAR OF STUDY" required>
               
               <br>
               <span class="details">COURSE DURATION:</span>
               <input type="text"  placeholder="COURSE DURATION"  required>
               <br>
               <span class="details">EXPECTED YEAR AND MONTH OF COMPLETION(mm/yy):</span>
               <input type="text"  placeholder="year of completion" required>
               <br>
               <span class="details">PHONE NUMBER:</span>
               <input type="text"  placeholder="phone number"required>
                
               <br>
               <button type="submit" value="Submit">SUBMIT</button>


               <div class="next">
                <a class="next" href="polling.html">NEXT PAGE</a>
               </div>
            </fieldset>

        </form>
    </div>
</div>
    

</body>
</html>