{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css/' %}">
    <title>bursary application</title>
</head>
<body>
    <nav>
        <!-- navigation bar -->
        <div class="logo">    <img src="{% static '/images/logo.png/' %}" alt="" width="80" height="80"></div>
    
        <ul>
            <li><a href="{% url 'home' %}">HOME</a></li>
            <li><a href="{% url 'sign' %}">SIGN UP</a></li>
            <li><a href="{% url 'login' %}">LOGIN</a></li>
        </ul>
    </nav>

        
    <h1><b>BURSARY APPLICATION FORM</b></h1>

    
    <div class="login">
        <h2 id="p1"><b>USER LOGIN</b></h2>
        <b>DON'T HAVE AN ACCOUNT?<br>
            <a href="{% url 'sign' %}">CLICK HERE</a> TO SIGN UP
        </b>
        <br>

        <h3>You need to sign up or sign in before continuing </h3>
        <br>
        
        <!-- <label for="Email">Email</label> -->
        <form action="" method="POST">

            <div class="email">
               <label for="email">Email</label>
               <br>
            <input type="text" name="email"  placeholder="enter your email" size="50" required = "required">
            </div>

            <br>

            <div class="password">
                <label for="password">Password</label>
                <br>
                <input type="password" name="password" placeholder="enter password" size="50" required = "required">
            </div>
            <br>
           <input type="submit" value="SIGN IN"></a>
           
        </form>
        <br>
        
    </div>

   

    
    

   
    
</body>
</html>