{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css/' %}">
    <title>polling</title>
</head>

<body>
    <nav>
        <!-- navigation bar -->
        <div class="logo">    <img src="{% static 'images/logo.png' %}" alt="" width="80" height="80"></div>
    
        
        <ul>
            <li><a href="{% url 'home' %}">HOME</a></li>
            <li><a href="{% url 'sign' %}">SIGN UP</a></li>
            <li><a href="{% url 'login' %}">LOGIN</a></li>
            <li><a href="{% url 'login' %}">LOGOUT</a></li>

        </ul>
    </nav>
    <!-- <div class="app">
        <p>
            <b>INSTRUCTIONS</b>
            <ul>
                <li>
                    Kindly provide your information in legible CAPITAL letters.
                </li>
                <li>
                    Submission of incomplete form may lead to disqualification.
                </li>
                <li>
                    All duly filled forms to be delivered to the NG-CDF Office at Wath Ong’er for processing.
                </li>
            </ul>
        </p> -->
        <div class="containers">
            <!-- <div class="title">Please fill this form </div>
            <h3>PART A :TO BE FILLED BY THE APPLICANT / PARENT / GUARDIAN</h3> -->
        
        <form action="#">
            <div class="user-details">
                <fieldset>
                    <legend> <b>POLLING STATION</b> </legend>

                <label>
                     <span class="details">WARD</span>
                <input type="text"  placeholder="enter location"  required>

               <span class="details">LOCATION</span>
               <input type="text"  placeholder="ward"  required>
               <span class="details">SUB LOCATION</span>
               <input type="text"  placeholder="sub location"  required>

               <br>
               <span class="details">PHYSICAL ADDRESS</span>
               <input type="text"  placeholder="physical address"  required>

               <br>
               <span class="details">PERMANENT ADDRESS</span>
               <input type="text"  placeholder="permanent address" required>

               <br>
               <span class="details">INSTITUTION’S POSTAL ADDRESS</span>
               <input type="text"  placeholder="institutional postal address"  required>

               <br>
               <span class="details">INSTITUTION’S TELEPHONE NUMBER</span>
               <input type="text"  placeholder="institutional telephone number"  required>

               <br>
               <span class="details">AMOUNT APPLIED FOR (Kshs.)</span>
               <input type="text"  placeholder="amount"  required>
               <br>
               <p><b><strong>(Attach support documents including letter of admission, fees structure and recommendations)</strong></b></p>

               <!-- <p>
                MODE OF STUDY
               </p>
            
               <input type="radio", name="study" value="regular" checked/>Regular
               <input type="radio", name="study" value="parallel" checked/>Parallel
               <input type="radio", name="study" value="Boarding" checked/>Boarding
               <input type="radio", name="study" value="Day" checked/>Day

               <br>
               <span class="details">CLASS / GRADE/ YEAR OF STUDY</span>
               <input type="text"  placeholder="CLASS/GRADE/YEAR OF STUDY"  required>
              
               <span class="details">COURSE DURATION:</span>
               <input type="text"  placeholder="COURSE DURATION"  required>
               <br>
               <span class="details">EXPECTED YEAR AND MONTH OF COMPLETION(mm/yy):</span>
               <input type="text"  placeholder="year of completion" required>
               <br>
               <span class="details">PHONE NUMBER:</span>
               <input type="text"  placeholder="phone number"required> -->
 
               <br>
               <button type="submit" value="Submit">SUBMIT</button>

               <div class="next">
                <a class="next" href="{% url 'family' %}">NEXT PAGE</a>
               </div>
            </fieldset>

        </form>
    </div>
</div>

    </div>


</body>

</html>