
{% extends 'base.html' %}

{% block content %}
        <div class="containers">
        
        <form action="" method="POST">
            <div class="user-details">
                <fieldset>
                    <legend> <b>FAMILY BACKGROUND ( Tick appropriately)</b> </legend>
               {% csrf_token %}
               {{form.as_p}}
               <br>
               <button type="submit" value="Submit">SUBMIT</button>
               <br>
               <a class="next" href="{% url 'polling' %}">PREVIOUS PAGE</a>


            </fieldset>
        </form>
    </div>
</div>
{% endblock content %}
</body>
</html>