{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
    <div class="app">
        <p>
            <b>INSTRUCTIONS</b>
            <ul>
                <li>
                    Kindly provide your information in legible CAPITAL letters.
                </li>
                <li>
                    Submission of incomplete form may lead to disqualification.
                </li>
                <li>
                    All duly filled forms to be delivered to the NG-CDF Office at Wath Ong’er for processing.
                </li>
            </ul>
        </p>
        <form action="" method="POST">
            <fieldset>
                <legend><b> PERSONAL INFORMATION</b></legend>
                {% csrf_token %}
                  {{form.as_p}}
        <button type="submit">SUBMIT</button>
        <div class="next">
            
        </form>
        <a class="next" href="{% url 'polling' %}">NEXT PAGE</a>
           </div>
            </fieldset>
            
            {% endif %}
        
       
        
{% endblock content %}
</body>
</html>