{% extends 'base.html' %}
{% block content %}
        
    <h1><b>BURSARY APPLICATION FORM</b></h1>

    
    <div class="login">
        <h2 id="p1"><b>USER LOGIN</b></h2>
        <b>DON'T HAVE AN ACCOUNT?<br>
            <a href="{% url 'sign' %}">CLICK HERE</a> TO SIGN UP
        </b>
        <br>

        <h3>You need to sign up or sign in before continuing </h3>
        <br>
        
        <form action="" method="POST">
             {% csrf_token %}
            <div class="email">
               <label for="">Username</label>
               <br>
            <input type="text" name="username"  placeholder="enter your username" size="50" required = "required">
            </div>

            <br>

            <div class="password">
                <label for="password">Password</label>
                <br>
                <input type="password" name="password" placeholder="enter password" size="50" required = "required">
            </div>
            <br>
           <input type="submit" value="SIGN IN"></a>
           
        </form>
        <br>
        
    </div>
{% endblock content %}    
</body>
</html>