{% extends 'base.html' %}
{% block content %}
        <div class="containers">
        <form action="#" method="POST">
            <div class="user-details">
                <fieldset>
                    <legend> <b>POLLING STATION</b> </legend>
                      {% csrf_token %}
                      {{form.as_p}}
               <button type="submit" value="Submit">SUBMIT</button>

               <div class="next">
                <a class="next" href="{% url 'family' %}">NEXT PAGE</a>
               </div>
               <div class="next">
                <a class="next" href="{% url 'home' %}">PREVIOUS PAGE</a>
            </div>
            </fieldset>

        </form>
    </div>
</div>
</div>
{% endblock content %}
</body>
</html>